* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

*::selection {
	background-color: transparent;
}

:root {
	--grid-width: 10;
}

html {
	font-size: 62.5%;
	font-family: sans-serif;
}

@media only screen and (max-width: 600px) {
	html {
		font-size: 50%;
	}
}

.container {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	font-size: 5rem;
	padding: 2rem 0;
}

.grid {
	height: calc(var(--grid-width) * 4rem);
	width: calc(var(--grid-width) * 4rem);
	display: flex;
	flex-wrap: wrap;
	background-color: gray;
	margin-bottom: 3rem;
}

.grid div {
	height: 4rem;
	width: 4rem;
	border: 1px solid black;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flag-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 20vw;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.bomb {
	font-size: 3rem;
}

.blown {
	background-color: coral;
}

.checked {
	background-color: linen;
	font-size: 3rem;
}

.flag {
	font-size: 3rem;
	background-color: linen;
}

.wrong {
	background-color: coral;
}

.question {
	font-size: 3rem;
	background-color: linen;
	color: blue;
}
.defused {
	background-color: lightgreen;
}
.text {
	font-size: 3rem;
}

.one {
	color: blue;
}

.two {
	color: green;
}

.three {
	color: red;
}

.four {
	color: purple;
}

.five {
	color: maroon;
}

.six {
	color: turquoise;
}

.seven {
	color: black;
}

.eight {
	color: gray;
}

.restart {
	width: 20rem;
	height: 7rem;
	margin: 3rem;
	font-size: 3rem;
	cursor: pointer;
}

.details {
	text-align: center;
}

.hidden {
	display: none;
}

.message {
	font-size: 5rem;
}
